
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.comida-deliciosa-2Yy {
  width: 100%;
  height: 214.3rem;
  position: relative;
  overflow: hidden;
  background-color: #dadada;

  .auto-group-mnnd-AQH {
    position: absolute;
    align-items: center;
    display: flex;
    height: 182.7rem;
    left: 0;
    top: 31.6rem;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2.8rem 0rem 3.4rem 0rem;
    width: 144rem;

    .gratis-png-cafe-restaurante-computador-iconos-hotel-cocina-china-gastronomia-removebg-preview-1-eKT {
      margin: 0rem 3.3rem 3.8rem 0rem;
      width: 33.9rem;
      height: 25.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .group-12-tDo {
      width: calc(100% - 0rem);
      height: 1.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 8.6rem 0rem;

      .auto-group-1fvh-D1B {
        background-color: #078930;
        flex-shrink: 0;
        width: 36.1101rem;
        height: 100%;

        .rectangle-10-Zaq {
          width: 100%;
          height: 1.1rem;
          background-color: #0f47af;
        }
      }
      .auto-group-npd7-hww {
        height: 100%;
        position: relative;
        flex-shrink: 0;
        width: 107.8898rem;

        .rectangle-11-rK3 {
          height: 1.1rem;
          position: absolute;
          left: 36.11rem;
          top: 0;
          background-color: #ffffff;
          width: 36.1101rem;
        }
        .rectangle-13-NHP {
          width: 36.1101rem;
          height: 1.1rem;
          position: absolute;
          left: 71.7797rem;
          top: 0;
          background-color: #078930;
        }
        .rectangle-12-7km {
          width: 36.1101rem;
          height: 1.1rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #da121a;
        }
      }
    }
    .auto-group-hcqz-qwf {
      width: calc(100% - 15.4rem);
      height: 130.1rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 7.7rem 5.3rem 7.7rem;

      .group-20-yHB {
        position: absolute;
        left: 0;
        top: 0;
        width: 128.6rem;
        height: 126.4rem;

        .group-19-7eH {
          margin-bottom: 5.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-bhf7-ePK {
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 1.3rem;
            width: 100%;
            display: flex;
            column-gap: 5.2rem;

            .ellipse-1-miq {
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ellipse-2-ie5 {
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ellipse-3-Spy {
              vertical-align: top;
              flex-shrink: 0;
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
            }
          }
          .auto-group-jotm-bhs {
            width: calc(100% - 23.95rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 7.35rem 8.5rem 16.6rem;

            .cuy-8ho {
              margin-right: 26.95rem;
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.4525;
              font-family: Kaushan Script, 'Source Sans Pro';
              flex-shrink: 0;
              text-align: center;
              display: flex;
              justify-content: center;
              letter-spacing: 0.126rem;
              color: #000000;
              white-space: nowrap;
            }
            .chicha-de-yamor-1Fo {
              font-weight: 400;
              color: #000000;
              font-family: Kaushan Script, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 3.6rem;
              justify-content: center;
              line-height: 1.4525;
              letter-spacing: 0.126rem;
              margin-right: 20.8rem;
              display: flex;
            }
            .helados-de-paila-Uv5 {
              color: #000000;
              font-family: Kaushan Script, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              line-height: 1.4525;
              letter-spacing: 0.126rem;
              text-align: center;
              display: flex;
              justify-content: center;
              font-size: 3.6rem;
              font-weight: 400;
            }
          }
          .auto-group-hxzt-yrq {
            flex-shrink: 0;
            margin-bottom: 3.2rem;
            width: 100%;
            display: flex;
            column-gap: 5.2rem;
            align-items: center;

            .ellipse-4-8Uq {
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 39.4rem;
            }
            .ellipse-5-UYh {
              vertical-align: top;
              flex-shrink: 0;
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
            }
            .ellipse-6-2q7 {
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 39.4rem;
            }
          }
          .auto-group-zsrx-km7 {
            margin: 0rem 8.35rem 6.6rem 11.7rem;
            width: calc(100% - 20.05rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .nogadas-USD {
              font-size: 3.6rem;
              font-weight: 400;
              line-height: 1.4525;
              color: #000000;
              font-family: Kaushan Script, 'Source Sans Pro';
              margin-right: 24.2rem;
              text-align: center;
              justify-content: center;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              letter-spacing: 0.126rem;
            }
            .plato-de-alpargate-nxh {
              margin-right: 17.55rem;
              text-align: center;
              font-size: 3.6rem;
              line-height: 1.4525;
              letter-spacing: 0.126rem;
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              justify-content: center;
              font-weight: 400;
              color: #000000;
              font-family: Kaushan Script, 'Source Sans Pro';
            }
            .carnes-coloradas-KBw {
              white-space: nowrap;
              flex-shrink: 0;
              display: flex;
              font-size: 3.6rem;
              font-family: Kaushan Script, 'Source Sans Pro';
              line-height: 1.4525;
              letter-spacing: 0.126rem;
              color: #000000;
              text-align: center;
              justify-content: center;
              font-weight: 400;
            }
          }
          .auto-group-xa6d-SXT {
            width: 100%;
            display: flex;
            column-gap: 5.2rem;
            align-items: center;
            flex-shrink: 0;

            .ellipse-7-CFj {
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ellipse-8-KLM {
              flex-shrink: 0;
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .ellipse-9-scm {
              width: 39.4rem;
              height: 28.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-b7cd-cqF {
          margin-left: 5.45rem;
          display: flex;
          align-items: center;

          .chicha-de-jora-a1P {
            font-weight: 400;
            letter-spacing: 0.126rem;
            color: #000000;
            font-family: Kaushan Script, 'Source Sans Pro';
            margin-right: 27.25rem;
            text-align: center;
            justify-content: center;
            font-size: 3.6rem;
            display: flex;
            line-height: 1.4525;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .fritadas-GQ1 {
            margin-right: 31.7rem;
            display: flex;
            justify-content: center;
            line-height: 1.4525;
            color: #000000;
            font-family: Kaushan Script, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 3.6rem;
            font-weight: 400;
            letter-spacing: 0.126rem;
            white-space: nowrap;
          }
          .hornado-yZK {
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 400;
            color: #000000;
            font-family: Kaushan Script, 'Source Sans Pro';
            letter-spacing: 0.126rem;
            display: flex;
            justify-content: center;
            font-size: 3.6rem;
            line-height: 1.4525;
          }
        }
      }
      .frame-3-Ha1 {
        top: 122.7rem;
        overflow: hidden;
        width: 1.6rem;
        height: 7.4rem;
        position: absolute;
        left: 62.7rem;
      }
    }
    .group-18-DCm {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 35.5rem 0rem 32.9rem;
      box-sizing: border-box;
      padding-left: 0.2656rem;
      width: calc(100% - 68.4005rem);

      .basil-lightbulb-alt-outline-LHP {
        margin: 0.059rem 1.365rem 0rem 0rem;
        width: 0.9688rem;
        height: 1.683rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .alejandro-imbaquingo-universidad-tcnica-particular-de-loja-qzq {
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        color: #000000;
        font-family: ABeeZee, 'Source Sans Pro';
        display: flex;
        font-weight: 400;
        line-height: 1.1825;
        letter-spacing: 0.333rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-5rxs-8j3 {
    width: 144rem;
    height: 18.5rem;
    position: absolute;
    left: 0;
    top: 5.8rem;

    .rectangle-15-35K {
      background: linear-gradient(180deg, #fff1f3 -0%, rgba(217, 217, 217, 0) 100%);
      width: 144rem;
      height: 16.4rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .rectangle-32-7L5 {
      width: 144rem;
      height: 16.4rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, #fff1f3 -0%, rgba(217, 217, 217, 0) 100%);
    }
    .group-14-De1 {
      height: 12.6rem;
      position: absolute;
      left: 30.55rem;
      top: 2.5rem;
      width: 82.9rem;

      .tierra-encantada-kdw {
        display: flex;
        font-size: 3.6rem;
        width: 26.5rem;
        height: 5.3rem;
        left: 28.2rem;
        top: 7.3rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        text-align: center;
        justify-content: center;
        line-height: 1.4525;
        letter-spacing: 0.126rem;
        font-family: Kaushan Script, 'Source Sans Pro';
      }
      .imbabura-SWm {
        text-align: center;
        display: flex;
        justify-content: center;
        font-family: Khula, 'Source Sans Pro';
        position: absolute;
        left: 0;
        line-height: 1.605;
        font-size: 7rem;
        letter-spacing: 6.09rem;
        color: #182204;
        width: 82.9rem;
        height: 11.3rem;
        white-space: nowrap;
        top: 0;
        font-weight: 600;
      }
    }
    .rectangle-48-Ls3 {
      width: 124.8rem;
      height: 3.8rem;
      position: absolute;
      left: 7.7rem;
      top: 14.3rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #0f47af;
    }
    .rectangle-49-pXK {
      left: 7.7rem;
      top: 14.3rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #0f47af;
      width: 124.8rem;
      height: 3.8rem;
      position: absolute;
    }
    .rectangle-50-93o {
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #da121a;
      width: 124.8rem;
      height: 0.4rem;
      position: absolute;
      left: 7.7rem;
      top: 18.1rem;
    }
    .rectangle-51-riu {
      position: absolute;
      left: 7.7rem;
      top: 18.1rem;
      box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
      background-color: #da121a;
      width: 124.8rem;
      height: 0.4rem;
    }
    .gastronoma-nMf {
      font-family: Jua, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      letter-spacing: 0.0875rem;
      width: 17.7rem;
      text-align: center;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      left: 104.75rem;
      line-height: 1.25;
      height: 3.2rem;
      top: 14.6rem;
      color: #ffffff;
    }
    .gastronoma-G1w {
      left: 104.75rem;
      display: flex;
      justify-content: center;
      letter-spacing: 0.0875rem;
      width: 17.7rem;
      text-align: center;
      font-family: Jua, 'Source Sans Pro';
      height: 3.2rem;
      color: #ffffff;
      white-space: nowrap;
      font-weight: 400;
      top: 14.6rem;
      font-size: 2.5rem;
      line-height: 1.25;
      position: absolute;
    }
    .aventura-8pq {
      text-align: center;
      font-weight: 400;
      line-height: 1.25;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      left: 63.45rem;
      font-size: 2.5rem;
      letter-spacing: 0.0875rem;
      width: 13.3rem;
      height: 3.2rem;
      top: 15rem;
      display: flex;
      color: #ffffff;
      position: absolute;
      justify-content: center;
    }
    .aventura-opV {
      left: 63.45rem;
      justify-content: center;
      font-family: Jua, 'Source Sans Pro';
      width: 13.3rem;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.25;
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
      top: 15rem;
      display: flex;
      font-weight: 400;
      letter-spacing: 0.0875rem;
      color: #ffffff;
    }
    .turismo-FRb {
      width: 11rem;
      font-size: 2.5rem;
      font-weight: 400;
      top: 15rem;
      text-align: center;
      justify-content: center;
      color: #ffffff;
      display: flex;
      font-family: Jua, 'Source Sans Pro';
      white-space: nowrap;
      height: 3.2rem;
      position: absolute;
      left: 22.15rem;
      line-height: 1.25;
      letter-spacing: 0.0875rem;
    }
    .turismo-KwF {
      width: 11rem;
      position: absolute;
      font-size: 2.5rem;
      letter-spacing: 0.0875rem;
      display: flex;
      justify-content: center;
      font-family: Jua, 'Source Sans Pro';
      left: 22.15rem;
      top: 15rem;
      font-weight: 400;
      line-height: 1.25;
      white-space: nowrap;
      height: 3.2rem;
      text-align: center;
      color: #ffffff;
    }
    .rectangle-52-2am {
      position: absolute;
      left: 90.4rem;
      top: 15.1rem;
      background-color: #078930;
      width: 0.6rem;
      height: 2.7rem;
    }
    .rectangle-53-yF7 {
      background-color: #078930;
      width: 0.6rem;
      height: 2.7rem;
      position: absolute;
      left: 90.4rem;
      top: 15.1rem;
    }
    .rectangle-54-7cD {
      background-color: #078930;
      width: 0.6rem;
      height: 2.7rem;
      position: absolute;
      left: 48rem;
      top: 15.1rem;
    }
    .rectangle-55-4GZ {
      height: 2.7rem;
      position: absolute;
      left: 48rem;
      top: 15.1rem;
      background-color: #078930;
      width: 0.6rem;
    }
  }
  .iconoir-home-yeR {
    height: 2.8388rem;
    position: absolute;
    left: 1.6083rem;
    top: 1.7862rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.0833rem;
  }
  .comida-deliciosa-7Vj {
    font-weight: 400;
    font-family: Kaushan Script, 'Source Sans Pro';
    left: 54.65rem;
    line-height: 1.4525;
    color: #000000;
    width: 31.4rem;
    height: 6.6rem;
    text-align: center;
    display: flex;
    font-size: 4.5rem;
    position: absolute;
    top: 25rem;
    justify-content: center;
    letter-spacing: 0.1575rem;
    white-space: nowrap;
  }
}
