
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.principal-7o7 {
  width: 100%;
  position: relative;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 43.9rem 0rem 15.6rem 0rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  background-position: center;
  background-image: url('REPLACE_IMAGE:6159f3b3f6314aceda92ea7cc6d92d57489c6ff8');

  .auto-group-pxb3-S4h {
    margin-bottom: 12rem;
    width: 100%;
    height: 24.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-1-Z9K {
      background-color: #d9d9d9;
      width: 144rem;
      height: 7.9rem;
      position: absolute;
      left: 0;
      top: 15.9rem;
    }
    .tierra-encantada-57f {
      top: 15.4rem;
      font-weight: 400;
      font-family: Kaushan Script, 'Source Sans Pro';
      display: flex;
      letter-spacing: 3.03rem;
      left: 27.3rem;
      font-size: 6rem;
      line-height: 1.4525;
      white-space: nowrap;
      width: 89.3rem;
      height: 8.8rem;
      position: absolute;
      text-align: center;
      justify-content: center;
      color: #000000;
    }
    .imbabura-w9s {
      left: 2.65rem;
      top: 0;
      letter-spacing: 9.536rem;
      color: #ffffff;
      white-space: nowrap;
      font-family: Khula, 'Source Sans Pro';
      display: flex;
      justify-content: center;
      font-size: 12.8rem;
      font-weight: 600;
      width: 138.7rem;
      height: 20.6rem;
      position: absolute;
      text-align: center;
      line-height: 1.605;
    }
  }
  .auto-group-7uqh-ysF {
    font-family: Khula, 'Source Sans Pro';
    margin: 0 57.4rem;
    padding: 0.7rem 3.05rem 0rem 3.05rem;
    width: calc(100% - 114.8rem);
    display: flex;
    line-height: 1.7142857143;
    letter-spacing: -0.0875rem;
    background-color: #d9d9d9;
    border-radius: 10rem;
    justify-content: center;
    font-size: 3.5rem;
    white-space: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    color: #000000;
  }
}
