
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.comida-deliciosa-2Yy {
  width: 100%;
  height: 214.3rem;
  position: relative;
  overflow: hidden;
  background-color: #dadada;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH {
  box-sizing: border-box;
  padding: 2.8rem 0rem 3.4rem 0rem;
  width: 144rem;
  height: 182.7rem;
  position: absolute;
  left: 0;
  top: 31.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .gratis-png-cafe-restaurante-computador-iconos-hotel-cocina-china-gastronomia-removebg-preview-1-eKT {
  margin: 0rem 3.3rem 3.8rem 0rem;
  width: 33.9rem;
  height: 25.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo {
  margin: 0rem 0rem 8.6rem 0rem;
  width: calc(100% - 0rem);
  height: 1.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-1fvh-D1B {
  width: 36.1101rem;
  height: 100%;
  background-color: #078930;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-1fvh-D1B .rectangle-10-Zaq {
  width: 100%;
  height: 1.1rem;
  background-color: #0f47af;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-npd7-hww {
  width: 107.8898rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-npd7-hww .rectangle-11-rK3 {
  width: 36.1101rem;
  height: 1.1rem;
  position: absolute;
  left: 36.11rem;
  top: 0;
  background-color: #ffffff;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-npd7-hww .rectangle-13-NHP {
  width: 36.1101rem;
  height: 1.1rem;
  position: absolute;
  left: 71.7797rem;
  top: 0;
  background-color: #078930;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-12-tDo .auto-group-npd7-hww .rectangle-12-7km {
  width: 36.1101rem;
  height: 1.1rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #da121a;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf {
  margin: 0rem 7.7rem 5.3rem 7.7rem;
  width: calc(100% - 15.4rem);
  height: 130.1rem;
  position: relative;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB {
  width: 128.6rem;
  height: 126.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH {
  margin-bottom: 5.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-bhf7-ePK {
  margin-bottom: 1.3rem;
  width: 100%;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-bhf7-ePK .ellipse-1-miq {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-bhf7-ePK .ellipse-2-ie5 {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-bhf7-ePK .ellipse-3-Spy {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-jotm-bhs {
  margin: 0rem 7.35rem 8.5rem 16.6rem;
  width: calc(100% - 23.95rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-jotm-bhs .cuy-8ho {
  margin-right: 26.95rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-jotm-bhs .chicha-de-yamor-1Fo {
  margin-right: 20.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-jotm-bhs .helados-de-paila-Uv5 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-hxzt-yrq {
  margin-bottom: 3.2rem;
  width: 100%;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-hxzt-yrq .ellipse-4-8Uq {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-hxzt-yrq .ellipse-5-UYh {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-hxzt-yrq .ellipse-6-2q7 {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-zsrx-km7 {
  margin: 0rem 8.35rem 6.6rem 11.7rem;
  width: calc(100% - 20.05rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-zsrx-km7 .nogadas-USD {
  margin-right: 24.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-zsrx-km7 .plato-de-alpargate-nxh {
  margin-right: 17.55rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-zsrx-km7 .carnes-coloradas-KBw {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-xa6d-SXT {
  width: 100%;
  display: flex;
  column-gap: 5.2rem;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-xa6d-SXT .ellipse-7-CFj {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-xa6d-SXT .ellipse-8-KLM {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .group-19-7eH .auto-group-xa6d-SXT .ellipse-9-scm {
  width: 39.4rem;
  height: 28.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .auto-group-b7cd-cqF {
  margin-left: 5.45rem;
  display: flex;
  align-items: center;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .auto-group-b7cd-cqF .chicha-de-jora-a1P {
  margin-right: 27.25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .auto-group-b7cd-cqF .fritadas-GQ1 {
  margin-right: 31.7rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .group-20-yHB .auto-group-b7cd-cqF .hornado-yZK {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .auto-group-hcqz-qwf .frame-3-Ha1 {
  width: 1.6rem;
  height: 7.4rem;
  position: absolute;
  left: 62.7rem;
  top: 122.7rem;
  overflow: hidden;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-18-DCm {
  margin: 0rem 35.5rem 0rem 32.9rem;
  box-sizing: border-box;
  padding-left: 0.2656rem;
  width: calc(100% - 68.4005rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-18-DCm .basil-lightbulb-alt-outline-LHP {
  margin: 0.059rem 1.365rem 0rem 0rem;
  width: 0.9688rem;
  height: 1.683rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-mnnd-AQH .group-18-DCm .alejandro-imbaquingo-universidad-tcnica-particular-de-loja-qzq {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1825;
  letter-spacing: 0.333rem;
  color: #000000;
  font-family: ABeeZee, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 {
  width: 144rem;
  height: 18.5rem;
  position: absolute;
  left: 0;
  top: 5.8rem;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-15-35K {
  width: 144rem;
  height: 16.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fff1f3 -0%, rgba(217, 217, 217, 0) 100%);
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-32-7L5 {
  width: 144rem;
  height: 16.4rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #fff1f3 -0%, rgba(217, 217, 217, 0) 100%);
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .group-14-De1 {
  width: 82.9rem;
  height: 12.6rem;
  position: absolute;
  left: 30.55rem;
  top: 2.5rem;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .group-14-De1 .tierra-encantada-kdw {
  width: 26.5rem;
  height: 5.3rem;
  position: absolute;
  left: 28.2rem;
  top: 7.3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.126rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .group-14-De1 .imbabura-SWm {
  width: 82.9rem;
  height: 11.3rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.605;
  letter-spacing: 6.09rem;
  color: #182204;
  font-family: Khula, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-48-Ls3 {
  width: 124.8rem;
  height: 3.8rem;
  position: absolute;
  left: 7.7rem;
  top: 14.3rem;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #0f47af;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-49-pXK {
  width: 124.8rem;
  height: 3.8rem;
  position: absolute;
  left: 7.7rem;
  top: 14.3rem;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #0f47af;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-50-93o {
  width: 124.8rem;
  height: 0.4rem;
  position: absolute;
  left: 7.7rem;
  top: 18.1rem;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #da121a;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-51-riu {
  width: 124.8rem;
  height: 0.4rem;
  position: absolute;
  left: 7.7rem;
  top: 18.1rem;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #da121a;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .gastronoma-nMf {
  width: 17.7rem;
  height: 3.2rem;
  position: absolute;
  left: 104.75rem;
  top: 14.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .gastronoma-G1w {
  width: 17.7rem;
  height: 3.2rem;
  position: absolute;
  left: 104.75rem;
  top: 14.6rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .aventura-8pq {
  width: 13.3rem;
  height: 3.2rem;
  position: absolute;
  left: 63.45rem;
  top: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .aventura-opV {
  width: 13.3rem;
  height: 3.2rem;
  position: absolute;
  left: 63.45rem;
  top: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .turismo-FRb {
  width: 11rem;
  height: 3.2rem;
  position: absolute;
  left: 22.15rem;
  top: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .turismo-KwF {
  width: 11rem;
  height: 3.2rem;
  position: absolute;
  left: 22.15rem;
  top: 15rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.0875rem;
  color: #ffffff;
  font-family: Jua, 'Source Sans Pro';
  white-space: nowrap;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-52-2am {
  width: 0.6rem;
  height: 2.7rem;
  position: absolute;
  left: 90.4rem;
  top: 15.1rem;
  background-color: #078930;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-53-yF7 {
  width: 0.6rem;
  height: 2.7rem;
  position: absolute;
  left: 90.4rem;
  top: 15.1rem;
  background-color: #078930;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-54-7cD {
  width: 0.6rem;
  height: 2.7rem;
  position: absolute;
  left: 48rem;
  top: 15.1rem;
  background-color: #078930;
}
.comida-deliciosa-2Yy .auto-group-5rxs-8j3 .rectangle-55-4GZ {
  width: 0.6rem;
  height: 2.7rem;
  position: absolute;
  left: 48rem;
  top: 15.1rem;
  background-color: #078930;
}
.comida-deliciosa-2Yy .iconoir-home-yeR {
  width: 3.0833rem;
  height: 2.8388rem;
  position: absolute;
  left: 1.6083rem;
  top: 1.7862rem;
  object-fit: contain;
  vertical-align: top;
}
.comida-deliciosa-2Yy .comida-deliciosa-7Vj {
  width: 31.4rem;
  height: 6.6rem;
  position: absolute;
  left: 54.65rem;
  top: 25rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.4525;
  letter-spacing: 0.1575rem;
  color: #000000;
  font-family: Kaushan Script, 'Source Sans Pro';
  white-space: nowrap;
}
